@font-face {
    font-family: Raleway; /* Имя шрифта */
    src: url(../fonts/ralewaybold.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: 'Open Sans'; /* Имя шрифта */
    src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: 'Open Sans - Semibold'; /* Имя шрифта */
    src: url(../fonts/OpenSans-SemiBold.ttf); /* Путь к файлу со шрифтом */
   }



/* GENERAL */

.container {
    max-width: 1400px;
    margin: auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 50px auto 0;
}

.card__item {
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 16px 0;
}

.title {
    font-family: Raleway;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    color: #212121;
    width: fit-content;
    display: block;
    margin: 0 auto 30px;
    text-transform: uppercase;
}

.title::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    display: block;
    margin: 26px auto 0; 
}

.text {
    font-size: 14px;
    color: #86878b;
    display: block;
    width: fit-content;
    margin: 30px auto 30px;
}


/* BEM */

/* HEADER */

.header {
    font-family: 'Open Sans - Semibold';
    width: 100%;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 50;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 22px;
    align-items: center;
}

/* .logo {
} */

.navigation {
    max-width: 470px;
    display: flex;
    justify-content: space-between;
}

.navigation__link {
    text-decoration: none;
    opacity: 0.69;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s linear;
    margin-left: 48px;
}

.navigation__link:first-child {
    margin-left: 0;
}

.navigation__link:hover {
    opacity: 1;
}

/* FIRST SCREEN */
.first-screen {
width: 100%;
background-color: #000000;
background-image: url(../img/bg/cityscape.png);
background-size: cover;
background-position: center center;
padding: 110px 0 139px;
}

.first-screen-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-screen-main {
    min-height: 392px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.first-screen__title {
    font-family: Raleway;
    font-size: 36px;
    line-height: normal;
    font-weight: 400;
    color: #ffffff;
    width: fit-content;
    /* display: block; */
    /* margin: 0 0 30px; */
    text-transform: uppercase;
    
}

.first-screen__title::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: 26px auto 0 0; 
}


.first-screen__text {
    opacity: 0.8;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
}

.first-screen__download-btn {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: none;
    display: block;
    width: 135px;
    height: 42px;
    transition: all 0.2s linear;
}

.first-screen__download-btn:hover {
    background-color: #ff8b3886;
    cursor: pointer;
} 

.first-screen__download-btn:focus {
    outline: none;
} 


.first-screen__aside {
    padding-top: 30px;
}

.trial-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 368px;
    width: 360px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.trial-form__title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background-color: #f5f5f5;
}

.free {
    color: #ff8b38;
    text-transform: uppercase;
}

.trial-form__input {
    width: 285px;
    height: 31px;
    color: #333333;
    padding-left: 14px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    transition: all 0.2s linear;
}

.trial-form__input::placeholder {
    color: #bdbdbd;
}

.trial-form__input:hover {
    background-color: #ff9c5111;
    border-bottom: 1px solid #ff9b51; 

}

.trial-form__input:focus {
    color: #333333;
    background-color: #ff9c5111;
    outline: none;
    border-bottom: 1px solid #ff9b51; 

}

.trial-form__start-btn {
    background-color: #ff9b51;
    cursor: pointer;
    width: 100%;
    height: 54px;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

.trial-form__start-btn:hover {
    background-color: #ffa662;
    box-shadow: 0 0 2px 1px #ff9b51;
    cursor: pointer;
}


/* SOCIAL */

.social {
    border-bottom: 1px #86878b solid;
    padding-top: 22px;
    padding-bottom: 22px;
}

.social-container {
    display: flex;
    justify-content: space-between;
}
.social__text {
    max-width: 360px;
}
.social__title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.social__description {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.social-links {
    width: 634px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links__item {
    color: #cccccc;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 46px;
    transition: all 0.2s linear;
    text-align: center;
}

.social-links__item:hover {
    color: #333333;
    cursor: pointer;
}


/* AWESOME */

.awesome {
    font-family: 'Open Sans';
    width: 100%;
}

.awesome__container {
    background-color: #fff;
    padding: 108px 0 105px;
}


.card__icon-container {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: #ff8b38 solid 2px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 15px;
}

/* .card__icon {

} */

.card__title {
    width: 100%;
    color: #212121;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card__description {
    font-size: 14px;
    color: #86878b;
    margin-top: 15px;
}

/* PRICE */

.price {
    font-family: 'Open Sans';
    width: 100%;
    /* background-color: rgb(139, 136, 136); */
}

.price__container {
    background-color: #f5f5f5;
    padding: 108px 0 96px;
}

/* .price__title {
    font-family: Raleway;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    color: #212121;
    width: fit-content;
    display: block;
    margin: 107px auto 30px;
    text-transform: uppercase;
}

.price__title::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    display: block;
    margin: 26px auto 0; 
}

.price__text {
    font-size: 14px;
    color: #86878b;
    display: block;
    width: fit-content;
    margin: 30px auto 30px;
} */

.service-plan {
    list-style-type: none;
    width: 100%;
}

.service-plan__name {
    background-color: #333333;
    margin: 1px auto;
    height: 59px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 59px;
}

.service-plan__cost {
    background-color: #333333;
    margin: 1px 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
    font-family: Raleway;
    font-size: 94px;
    font-weight: 700;
}

.service-plan__dollar-sign {
    color: #ffffff;
    font-family: Raleway;
    font-size: 35px;
}

.service-plan__period {
    background-color: #333333;
    margin: 2px auto 0;
    height: 51px;
    /* border-bottom: 5px solid #ff8b38; */
    font-family: 'Open Sans - Semibold', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    line-height: 51px;
}

.service-plan__most-pop {
    background-color: #ff8b38;
    margin: 0px auto;
    min-height: 5px;
}

.service-plan__most-pop_marked {
    height: 51px;
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 51px;
    /* content: "Our Most Popular"; */
}

.service-plan__most-pop_marked::before {
    content: "Our Most Popular";
}

.service-plan__feature {
    background-color: #ffffff;
    margin: 2px auto;
    height: 40px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #86878b;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
}

/* REVIEW */

.review {
    font-family: 'Open Sans';
    width: 100%;
    /* background-color: rgb(139, 136, 136); */
}

.review__container {
    background-color: #fff;
    padding: 108px 0 101px;
}

.review-card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 50px auto 0;
    max-width: 1109px;
}

.review-card__item {
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 60px 0;
}

.review-card__word-box {
    border-radius: 2px;
    width: 273px;
    background-color: #f5f5f5;
    padding: 24px 13px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    text-align: left; 
    position: relative;
    align-self: flex-start;
}

.review-card__word-box::after {
    content: none;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 9px 0 9px;
    border-color: #f5f5f5 transparent transparent transparent;
    position: absolute;
    bottom: -17px;
    left: 26.5px;
}

.review-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 9px 0 9px;
    border-color: #f5f5f5 transparent transparent transparent;
    position: absolute;
    bottom: -17px;
    left: 26.5px;
}

.review-card__author {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

/* .review-card__avatar {
} */

.review-card__author-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-card__author-name {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}
.review-card__author-occupation {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}


/* DOWNLOAD */

.download {
    font-family: 'Open Sans';
    width: 100%;
    background-color: #000000;
    background-image: url(../img/bg/cityscape.png);
    background-size: cover;
    background-position: center center;
    margin: auto;
    height: fit-content;
    overflow: auto;
}


.download__title {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    color: #ffffff;
    width: fit-content;
    display: block;
    margin: 74px auto 30px;
    text-transform: uppercase;
}

.download__title::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: 26px auto 0; 
}

.download__text {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    display: block;
    width: fit-content;
    margin: 23px auto 33px;
    opacity: 0.8;
} 

.download-button {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: none;
    display: block;
    margin: 0 auto 63px;
    width: 135px;
    height: 42px;
    transition: all 0.2s linear;
}

.download-button:hover {
    background-color: #ff8b3886;
    cursor: pointer;
} 

.download-button:focus {
    outline: none;
} 




/* CONTACT */

.contact {
    font-family: 'Open Sans';
    width: 100%;
}

.contact__container {
    background-color: #fff;
    padding: 108px 0 80px;
}

.contact__form {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact__input-container {
    height: 151px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 61px 0 43px;
    max-width: 1400px;
}

.contact__user-info-input {
    display: flex;
    flex-direction: column;
    margin-right: 33.5px;
    justify-content: space-between;
}

.contact__input {
    height: 31px;
    width: 527px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding-left: 13px;
    transition: all 0.2s linear;
}

.contact__input::placeholder {
    color: #bdbdbd;
}

.contact__input:hover {
    color: #333333;
    border-bottom: 1px solid #ff9c51; 
    background-color: #ff9c5111;
}

.contact__input:focus {
    color: #333333;
    border-bottom: 1px solid #ff9b51; 
    background-color: #ff9c5111;
}

.contact__message-input {
    margin-left: 33.5px;
    width: 527px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    resize: none;
    padding-left: 13px;
    transition: all 0.2s linear;
}

.contact__message-input::placeholder {
    color: #bdbdbd;
}

.contact__message-input:hover {
    color: #333333;
    border-bottom: 1px solid #ff9c51; 
    background-color: #ff9c5111;
}

.contact__message-input:focus {
    color: #333333;
    border-bottom: 1px solid #ff9b51;
    background-color: #ff9c5111;
}

.contact__send-button {
    margin: auto;
    width: 148px;
    height: 46px;
    border: none;
    border-radius: 2px;
    background-color: #ff9b51;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    transition: all 0.2s linear;
}

.contact__send-button:hover {
    background-color: #ffa662;
    box-shadow: 0 0 2px 1px #ff9b51;
    cursor: pointer;
}

/* FOOTER */

.footer {
    width: 100%;
    /* background-color: #8b8888; */
}

.footer-container {
    /* width: 1400px; */
    height: 100px;
    background-color: #000000;
    /* display: flex; */
    /* flex-direction: column; */
    /* margin: auto; */
}

.social-media {
    width: 340px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 25px;
}

.social-media__link {
width: 30px;
height: 30px;
background-size: 100%;
cursor: pointer;
transition: 0.5s;
opacity: 0.6;
}

.social-media__link:hover {
opacity: 1;
cursor: pointer;
}

.social-media__link_dropbox {
    background-image: url(../img/icons/sm/dropbox.png);
}
.social-media__link_facebook {
    background-image: url(../img/icons/sm/facebook.png);
}
.social-media__link_google {
    background-image: url(../img/icons/sm/google+.png);
}
.social-media__link_instagram {
    background-image: url(../img/icons/sm/instagram.png);
}
.social-media__link_pinterest {
    background-image: url(../img/icons/sm/pinterest.png);
}
.social-media__link_twitter {
    background-image: url(../img/icons/sm/twitter.png);
}
.social-media__link_viber {
    background-image: url(../img/icons/sm/viber.png);
}

.footer__trademark {
    padding-top: 15px;
    margin: auto;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    height: fit-content;
    width: fit-content;
}
