@font-face {
    font-family: Raleway; /* Имя шрифта */
    src: url(../fonts/ralewaybold.ttf); /* Путь к файлу со шрифтом */
   }
body {
    display: flex;
    justify-content: center;
    background-color: rgb(139, 136, 136);
}
.first-screen {
    font-family: 'Open Sans';
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1400px;
}

.first-screen__title {
    font-family: Raleway;
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    color: #212121;
    margin-top: 107px;
    margin-bottom: 30px;
}

.first-screen__divider {
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
}

.first-screen__subtitle {
    font-size: 14px;
    color: #86878b;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.first-screen__card-container {
    width: 84%;
    margin-top: 50px;
    margin-bottom: 104px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-container__card {
    width: 25%;
}

.card__icon-container {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: #ff8b38 solid 2px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 15px;
}

/* .card__icon {

} */

.card__title {
    width: 100%;
    color: #212121;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card__description {
    font-size: 14px;
    color: #86878b;
    margin-top: 15px;
}