@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html {
    font-size: 1px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 50;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.header-wrapper {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

.header__logo {
    margin-right: 10px;
}

.nav-menu {
    flex: 0 1 445px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -5px;
}

.nav-menu__link {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.69;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    transition: all 0.2s linear;
    margin: 0 5px;
}

.nav-menu__link:hover {
    color: #f78837;
    opacity: 1;
}

.first-screen {
    width: 100%;
    background-color: #000000;
    background-image: url(../img/bg/skyscrapers.png);
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 73px);
}

.first-screen__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-screen__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main {
    flex: 0 1 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__logo {
    margin-bottom: 33px;
}

.main__title {
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 36rem;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.main__title::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin-top: 26px; 
}

.main__txt {
    opacity: 0.8;
    font-family: Raleway;
    font-size: 16rem;
    line-height: 23px;
    font-weight: 300;
    color: #ffffff;
    margin: 30px 0 44px;
}

.download-btn {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: none;
    display: block;
    /* margin: 0 auto; */
    width: 135px;
    height: 42px;
    transition: all 0.2s linear;
}

.download-btn_centered {
    margin: 0 auto;
}

.download-btn:hover {
    background-color: #ff8b38b7;
    cursor: pointer;
}

.download-btn:focus {
    outline: none;
}

.trial {
    min-width: 360px;
}

.trial-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.trial-form__title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20rem;
    font-weight: 700;
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background-color: #f5f5f5;
    margin-bottom: 11px;
}

.trial__free {
    color: #ff8b38;
    text-transform: uppercase;
}

.trial-form__input {
    margin: 18px 0;
    width: 285px;
    height: 31px;
    color: #333333;
    padding-left: 14px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    transition: all 0.2s linear;
}

.trial-form__input::placeholder {
    color: #bdbdbd;
}

.trial-form__input:hover {
    background-color: #ff9c5111;
    border-bottom: 1px solid #ff9b51; 
}

.trial-form__input:focus {
    color: #333333;
    background-color: #ff9c5111;
    outline: none;
    border-bottom: 1px solid #ff9b51; 
}

.trial-form__start-btn {
    background-color: #ff9b51;
    cursor: pointer;
    width: 100%;
    height: 54px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    margin-top: 31px;
}

.trial-form__start-btn:hover {
    background-color: #fd9241;
    box-shadow: 0 0 2px 1px #ff9b51;
    cursor: pointer;
}

.social-media {
    width: 100%;
    border-bottom: 1px #86878b solid;
}

.social-media__wrapper {
    height: 100%;
    padding: 22px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-media__desc-container {
    height: 100%;
    flex: 0 1 360px;
    margin-right: 10px;
}

.social-media__title {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.social-media__txt {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #86878b;
}

.social-media__icon-wrapper {
    flex: 0 1 640px;
    font-family: FontAwesome;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
    color: #cccccc;
    margin-right: 18px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icons__item {
    transition: all 0.2s linear;
}

.social-icons__item:hover {
    color: #f78837;
    cursor: pointer;
}

.tabs {
    width: 100%;
    background-color: #f5f5f5;
}

.tabs__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 147px;
    padding-bottom: 114px;
}

.tab-btn {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
}

.tab-btn__item {
    height: 112px;
    width: 112px;
    background-color: #333333;
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 112px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: none;
    margin: 0.5px 0;
}

.tab-btn__item:hover {
    background-color: #ff8b38;
    cursor: pointer;
}

.tabs__txt-wrapper {
    display: flex;
    flex: 0 1 478px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.tabs__title {
    font-family: "Open Sans";
    font-size: 20rem;
    font-weight: 700;
    color: #000000;
}

.tabs__desc {
    font-family: OpenSans;
    font-size: 14rem;
    font-weight: 400;
    color: #86878b;
}

.tabs__download-btn {
    width: 121px;
    height: 46px;
    border: none;
    border-radius: 2px;
    background-color: #ff9b51;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    transition: all 0.2s linear;
}

.tabs__pic {
    height: 253px;
    align-self: center;
}

.about {
    width: 100%;
    background-color: #ffffff;
}

.title {
    padding-top: 108px;
    display: block;
    margin: 0 auto;
    font-family: Raleway;
    font-size: 36rem;
    line-height: 43px;
    font-weight: 400;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
}

.title::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #ff8b38;
    display: block;
    margin: 26px auto 0;
}

.txt {
    font-family: "Open Sans";
    font-size: 14rem;
    color: #86878b;
    display: block;
    width: fit-content;
    margin: 30px auto 80px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.card__item {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 15px 50px;
}

.card__icon-container {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: #ff8b38 solid 2px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-bottom: 15px;
}

/* .card__icon {
} */

.card__title {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    font-size: 20rem;
    line-height: 24px;
    font-weight: 700;
    color: #333333;
}

.card__description {
    font-size: 14rem;
    color: #86878b;
    margin-top: 15px;
    font-family: 'Open Sans';
    font-size: 14rem;
    line-height: 20px;
    font-weight: 400;
}

.pricing {
    width: 100%;
    background-color: #f5f5f5;
}

.service-plan {
    list-style-type: none;
    width: 100%;
}

.service-plan__name {
    background-color: #333333;
    margin: 1px auto;
    height: 59px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-size: 20rem;
    font-weight: 700;
    text-align: center;
    line-height: 59px;
}

.service-plan__cost {
    background-color: #333333;
    margin: 1px 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
    font-family: Raleway;
    font-size: 94rem;
    font-weight: 700;
}

.service-plan__dollar-sign {
    color: #ffffff;
    font-family: Raleway;
    font-size: 35rem;
}

.service-plan__period {
    background-color: #333333;
    margin: 2px auto 0;
    height: 51px;
    font-family: 'Open Sans - Semibold', 'Helvetica Neue', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    line-height: 51px;
}

.service-plan__popularity {
    background-color: #ff8b38;
    margin: 0px auto;
    min-height: 5px;
}

.service-plan__popularity_most-pop {
    height: 51px;
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 51px;
}

.service-plan__popularity_most-pop::before {
    content: "Our Most Popular";
}

.service-plan__feature {
    background-color: #ffffff;
    margin: 2px auto;
    height: 40px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #86878b;
    font-size: 14rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
}


.reviews {
    width: 100%;
}

.reviews-card {
    width: 100%;
    padding: 0 15px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews-card__item {
    flex-shrink: 0;
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 15px 30px;
}

.reviews-card__word-box {
    box-sizing: border-box;
    border-radius: 2px;
    width: 275px;
    padding: 24px 13px;
    background-color: #f5f5f5;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14rem;
    font-weight: 400;
    font-style: italic;
    text-align: left; 
    position: relative;
    /* align-self: flex-start; */
}

.reviews-card__word-box::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 9px 0 9px;
    border-color: #f5f5f5 transparent transparent transparent;
    position: absolute;
    bottom: -17px;
    left: 26.5px;
}

.reviews-card__author {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

.reviews-card__author-info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviews-card__author-name {
    color: #333333;
    font-family: "Open Sans";
    font-size: 20rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}

.reviews-card__author-occupation {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14rem;
    font-weight: 400;
    text-align: left;
}


.action-call {
    width: 100%;
    background-color: #000000;
    background-image: url(../img/bg/cityscape.png);
    background-size: cover;
    background-position: center center;
    padding-bottom: 63px;
}

.action-call__title {
    padding-top: 74px;
    display: block;
    margin: 0 auto;
    font-family: Raleway;
    font-size: 36rem;
    line-height: 43px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.action-call__title::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: 26px auto 0;
}

.action-call__txt {
    opacity: 0.8;
    font-family: Raleway;
    font-size: 16rem;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin: 30px auto 30px;
}

.contact {
    width: 100%;
    background-color: #ffffff;
}

.contact__form {
    width: 100%;
    padding-bottom: 80px;
}

.contact__input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
}

.contact__user-info-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 15px;
    flex: 0 1 525px;
    min-width: 100px;
}

.contact__input {
    height: 31px;
    margin: 15px 0;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    color: #333333;
    padding-left: 13px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
}

.contact__input::placeholder {
    color: #bdbdbd;
}

.contact__input:hover {
    color: #333333;
    border-bottom: 1px solid #ff9c51; 
    background-color: #ff9c5111;
}

.contact__input:focus {
    color: #333333;
    border-bottom: 1px solid #ff9b51; 
    background-color: #ff9c5111;
}

.contact__message-input {
    height: 153px;
    margin: 15px 15px;
    resize: none;
    transition: all 0.2s linear;
    flex: 0 1 525px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    color: #333333;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    padding-left: 13px;
}

.contact__message-input::placeholder {
    color: #bdbdbd;
}

.contact__message-input:hover {
    color: #333333;
    border-bottom: 1px solid #ff9c51; 
    background-color: #ff9c5111;
}

.contact__message-input:focus {
    color: #333333;
    border-bottom: 1px solid #ff9b51;
    background-color: #ff9c5111;
}

.contact__send-button {
    display: block;
    margin: 28px auto 0;
    width: 148px;
    height: 46px;
    border: none;
    border-radius: 2px;
    background-color: #ff9b51;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    transition: all 0.2s linear;
}

.contact__send-button:hover {
    background-color: #fd9241;
    box-shadow: 0 0 2px 1px #ff9b51;
    cursor: pointer;
}


.footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.footer__icon-wrapper {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #cccccc;
    width: 340px;
    padding-top: 38px;
}
.footer__trademark {
    display: block;
    padding: 15px 0;
    margin: 0 auto;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

@media  (max-width: 768px) {
    html {
        font-size: 0.85px;
    }

    .container {
        max-width: 768px;
    }    

    .nav-menu {
        display: none;
    }

    .first-screen__container {
        height: 100%;
    }

    .first-screen__wrapper {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main {
        flex-basis: auto;
        align-items: center;
    }

    .main__logo {
        height: 60em;
    }

    .main__title {
        text-align: center;
        font-size: 25rem;
    }

    .main__title::after {
        margin: 15px auto 0;
    }

    .main__txt {
        text-align: center;
        margin: 20px 0;
    }

    .download-btn {
        width: 50%;
    }

    .trial-form__title {
        height: 43px;
        line-height: 43px;
        font-size: 26rem;
    }

    .trial-form__input {
        margin: 12px 0;
        height: 23px;
    }

    .trial-form__start-btn {
        height: 43px;
    }

    .social-media__desc-container {
        display: none;
    }
    
    .social-media__icon-wrapper {
        font-size: 24px;
        margin-right: 0;
    }

    .tabs__container {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 70px;
    }

    .tab-btn {
        border-radius: 0;
        order: 1;
        margin-bottom: 45px;
    }

    .tab-btn__item {
        width: 100%;
        height: 56px;
        line-height: 56px;
    }

    .tabs__txt-wrapper {
        order: 3;
        justify-content: center;
        flex-basis: auto;
        align-items: center;
        align-content: center;
        padding-bottom: 0;
    }

    .tabs__title {
        margin-bottom: 25px;
    }
    
    .tabs__desc {
        text-align: center;
        margin-bottom: 25px;
    }

    .tabs__pic {
        order: 2;
        margin-bottom: 45px;
    }

    .title {
        padding-top: 50px;
        font-size: 25rem;
        line-height: 30px;
    }

    .title::after {
        margin: 15px auto 0;
    }

    .txt {
        margin: 20px auto 50px;
        font-size: 16rem;
        text-align: center;
    }

    .card {
        padding-bottom: 20px;
    }

    .card__icon-container {
        width: 65px;
        height: 65px;
    }
    
    .card__title {
        margin: 5px 0;    
    }

    .card__description {
        margin-top: 5px;
    }

    .service-plan__name {
        height: 39px;
        line-height: 39px;
    }

    .service-plan__cost {
        height: 80px;
    }

    .service-plan__period {
        height: 31px;
        font-size: 15px;
        line-height: 31px;
    }

    .service-plan__popularity_most-pop {
        height: 31px;
        line-height: 31px;
    }

    .service-plan__feature {
        height: 25px;
        line-height: 25px;
    }

    .reviews-card {
        padding-bottom: 25px;
        flex-direction: column;
        align-items: center;
    }

    .reviews-card__item {
        margin-bottom: 55px;
    }

    .reviews-card__word-box {
        font-size: 15rem;
    }

    .action-call__title {
        font-size: 25rem;
        padding-top: 50px;
    }

    .action-call__title::after {
        margin: 15px auto 0;
    }

    .action-call__txt {
        margin-top: 20px;
    }

    .contact__form {
        padding-bottom: 70px;
    }


    .footer__icon-wrapper {
        padding-top: 20px;
    }
}

@media (max-height: 992px) {

}

@media (max-height: 1200px) {

}